__pycache__/
*.py[cod]
*.log
.vscode/

/data/
/models/
/pretrained/*
!/pretrained/
!/pretrained/README.md
/checkpoints/
/save_checkpoints/*
!/save_checkpoints/
!/save_checkpoints/README.md
/logs/
/results/
/wandb/
/optuna/
/optuna_results/

src/.env
